<div class="row bg-light">
  <div class="col">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="col-4">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!recipeForm.valid"
          >
            Save
          </button>
        </div>
        <div class="col-4">
          <button type="button" class="btn btn-info" (click)="onCancel()">
            Cancel
          </button>
        </div>
        <div class="col-4">
          <button
            type="button"
            class="btn btn-danger"
            *ngIf="editMode"
            (click)="onDelete()"
          >
            Delete
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              formControlName="name"
            />
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              type="text"
              class="form-control"
              id="imagePath"
              formControlName="imagePath"
              #imagePath
            />
          </div>
        </div>
        <div class="col">
          <img [src]="imagePath.value" alt="" class="img-responsive" />
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              formControlName="description"
              id="description"
              rows="6"
              class="form-control"
            ></textarea>
          </div>
        </div>
      </div>

      <div formArrayName="ingredients">
        <div
          class="form-row mt-1"
          *ngFor="let ingredientCtrl of controls; let i = index"
          [formGroupName]="i"
        >
          <div class="col-6">
            <input type="text" class="form-control" formControlName="name" />
          </div>
          <div class="col-3">
            <input
              class="form-control"
              type="number"
              formControlName="amount"
            />
          </div>
          <div class="col-3">
            <button
              type="button"
              class="btn btn-danger"
              (click)="onDeleteIngredient(i)"
            >
              &times;
            </button>
          </div>
        </div>
        <hr />
        <div class="form-row">
          <button
            type="button"
            class="btn btn-primary"
            (click)="onAddIngredient()"
          >
            Add Ingredient
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
