<div class="row bg-light">
  <div class="col">
    <form action="">
      <div class="form-row">
        <div class="col-6">
          <button type="submit" class="btn btn-success">Save</button>
        </div>
        <div class="col-6">
          <button type="button" class="btn btn-danger">Cancel</button>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" />
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input type="text" class="form-control" id="imagePath" />
          </div>
        </div>
        <div class="col">
          <img src="" alt="" class="img-responsive" />
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              name="description"
              id="description"
              rows="6"
              class="form-control"
            ></textarea>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col-8">
          <input type="text" class="form-control" />
        </div>
        <div class="col-2">
          <input class="form-control" type="number" name="" id="" />
        </div>
        <div class="col-2">
          <button class="btn btn-danger">&times;</button>
        </div>
      </div>
    </form>
  </div>
</div>
