<div class="col">
  <img
    [src]="recipe.imagePath"
    alt=""
    class="img-responsive"
    style="max-height: 300px"
  />
</div>

<div class="col">
  <h1>{{ recipe.name }}</h1>
</div>

<div class="col">
  <div class="dropdown">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      (click)="showDropdown = !showDropdown"
    >
      Manage recipe
    </button>
    <div
      class="dropdown-menu"
      aria-labelledby="dropdownMenuButton"
      [ngClass]="{ show: showDropdown }"
    >
      <li>
        <a
          class="dropdown-item"
          href="#"
          (click)="toShoppingList()"
          style="cursor:pointer"
          >To shopping list</a
        >
      </li>
      <a class="dropdown-item" href="#">Edit recipe</a>
      <a class="dropdown-item" href="#">Delete recipe</a>
    </div>
  </div>
</div>

<div class="col">
  {{ recipe.description }}
</div>

<div class="col">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let ingredient of recipe.ingredients">
      {{ ingredient.name }} - {{ ingredient.amount }}
    </li>
  </ul>
</div>
