<div class="row">
  <div class="col">
    <form>
      <div class="form-row">
        <div class="form-group col-md-10">
          <label for="name">Ingredient</label>
          <input type="text" class="form-control" id="name" />
        </div>
        <div class="form-group col-md-2">
          <label for="amount">Amount</label>
          <input type="number" class="form-control" id="amount" />
        </div>
      </div>

      <button type="submit" class="btn btn-success m-1">Add</button>
      <button type="submit" class="btn btn-danger m-1">Remove</button>
      <button type="submit" class="btn btn-info m-1">Clear</button>
    </form>
  </div>
</div>
